@charset "UTF-8";
body{
    background-image: linear-gradient(to left, #1B4C8C, #2445A6);
    margin: 0px;
}
header{
    background-color: gray;
}
nav{
    background-color: gray;
    
}
nav a{
    text-decoration: none;
}
div{
    background-color: white;
}
main{
    width: 800px;
    margin: auto;
}
*{
    margin: 0px;
    padding: 0px;
}
.promo{
    display: flex;
    gap: 10px;
    
}
.obj{
    background-color: #1B4C8C;
    width: 200px;
    height: 200px; 
}
.top ul li{
    display: inline;
    padding: 20px;
}
ul{
    font-size: 32px;
    background-color: gray;
}